In [1]:
import pandas as pd

In [25]:
bigmac = pd.read_csv("bigmac.csv",parse_dates =["Date"], index_col =["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [5]:
bigmac.loc[("2010-01-01","Brazil")]

Price in US Dollars    4.76
Name: (2010-01-01 00:00:00, Brazil), dtype: float64

In [8]:
bigmac.loc[("2010-01-01","Argentina"), "Price in US Dollars"]

Date        Country
2010-01-01  Argentina    1.84
Name: Price in US Dollars, dtype: float64